In [13]:
from pyhive import hive
conn = hive.Connection(host="192.168.56.101", auth='CUSTOM', port=10000, 
                       username='cloudera', password='cloudera', 
                       database='default')
import pandas as pd
import sys

df = pd.read_sql("SELECT * FROM customer", conn) 
df.shape

(2, 2)

In [14]:
df.head()

   customer.id customer.name
0            1        bulent
1            2         ahmet